*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.gap-20{
    gap: 20px;
}

.container{
    width: 20%;
    height: 100vh;
}

.bg-btn{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.bg-btn:hover{
    transition: all 0.5s;
    background-color: bisque;
}

.bottom{
    height: 50vh;
}

.middle{
    height: 20vh;
}

input{
    padding: 10px;
}

.top{
    height: 30vh;
}

.flex-direction-column{
    flex-direction: column;
}

.button{
    background-color: rgb(255, 126, 126);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: larger;
    cursor: pointer;
}

.justify-content-space-between{
    justify-content: space-between;
}