*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.gap-20{
    gap: 20px;
}

.container{
    height: 100vh;
}

#inputField{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}