* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Common classes starts here */
button{
    border: none;
    background-color: blue;
    border-radius: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-20{
    gap: 20px;
}

body {
  background: linear-gradient(90deg, #ffd2c3, #ffa07300);
}
/* Common classes ends here */

h2{
    margin-bottom: 20px;
}

.container {
  min-height: 70vh;
  background-color: rgb(255 97 183);
  padding: 30px;
  margin: 12vh 0px;
  border-radius: 3px;
  box-shadow: 4px 7px 5px #dbd9de;
}

button > i {
  display: flex !important;
  padding: 20px 24px;
  color: white;
}

.button-container{
    margin-top: 15px;
}

#result {
  width: 90%;
  height: 50vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: beige;
}
