*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,button{
    color: var(--white-color);
    font-family: 'Poppins',sans-serif;
}

.d-flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.align-item-center{
    align-items: center;
}

.align-item-start{
    align-items: flex-start;
}

.justify-content-flex-start{
    justify-content: flex-start;
}


:root{
    --nav-color:#252525;
    --orange-color:#ec473c;
    --body-color:#181818;
    --white-color: white;
    --light-black: #2c2c2c;
    --white-gray:#7f7f7f;
}

nav{
    background-color: var(--nav-color);
}

.container{
    width: 100%;
    padding: 6px 1%;
}

.logo img{
    width:100px;
}

.justify-content-between{
    justify-content: space-between;
}

.nav-btn{
    background-color: transparent;
    padding: 5px 15px;
    color: var(--white-color);
    border: 1px solid var(--orange-color);
    border-radius: 20px;
}

.nav-btn:hover{
    transition: 1s all;
    background-color: var(--orange-color);
    border: 1px solid var(--white-color);
}

.gap-10{
    gap: 10px;
}

.icons, .icons img{
    height: 20px;
    cursor: pointer;
}

.image{
    height: 40px;
}

.nav-p{
    font-size: 12px;
}

section{
    background-color: var(--body-color);
}

.btn-back{
    background-color: var(--light-black);
    color: var(--white-color);
    border: 1px solid var(--light-black);
    border-radius: 20px;
    padding: 20px 20px;
}

.btn-edit{
    background-color: transparent;
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 20px;
    padding: 20px 20px;
}

.p-tb-15px{
    padding-top: 15px;
    padding-bottom: 15px;
}

.font-size-medium{
    font-size: medium;
}

.font-size-larger{
    font-size: larger;
}

.container-full{
    width: 100%;
}

.first-container,.second-container{
    background-color: var(--light-black);
    border-radius: 20px;
    padding: 15px;
}

.first-container{
    width: 29%;
    margin-right:1%;
}

.second-container{
    width: 69%;
    margin-left: 1%;
}

.text-color-gray{
    color: var(--white-gray);
}

.badge-verify,.badge-premium,.badge-link{
    padding: 2px 3px;
}

.badge-link>*{
    margin: 0px 3px;
}