*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: #a7a7a7;
}